body{
				background: #7a24f3;
				margin: 0;
			}
			h1{
				color: #bb86fc;
				font-family: monospace;
				font-size: 35px
			}
			.left{
				float: left;
			    position: absolute;
			    margin: auto;
			    display: block;
		        width: 50%;
			    height: 75vh;
			}
			img{
				display: inline-block;
			    margin: auto;
			    top: 40%;
			    position: relative;
			    left: 25%;
			    width: 50%;
			}
			.right{
			    background: white;
			    float: right;
			    height: 85vh;
			    width: 50%;
			    text-align: center;
			    padding-top: 15vh;
			}
			.right h1{
				padding: 20px;
				font-size: 40px;
			}
			.right input{
				display: block;
				margin: 20px auto;
			    padding: 15px 25px;
			    font-size: 15px;
			    width: 60%;
			    border: 1px solid #9d7acf;
			    border-radius: 10px;
			}
			::placeholder{
				color: #9d7acf;
			}
			aside span{
				color: #6b6969;
				width: 40%;
			    display: block;
			    margin: auto;
			    font-family: monospace;
			    font-size: 15px;
			}
			aside div{
				margin: 50px 0 30px;
				cursor: pointer;
			}
			aside div a{
				color: white;
			    background: #bb86f6;
			    padding: 10px;
			    width: 25%;
			    display: block;
			    margin: auto;
			    border-radius: 10px;
			    text-decoration: underline;
			}
			#loginButton{
				background: #7f39f3;
				padding: 10px;
				color: white;
			}
			#login{
			    display: inline-block;
			    color: white;
			    background: #7a24f3;
			    padding: 15px 30px;
			    border-radius: 10px;
			    margin: 20px;
			}