html, body {
    height: 100%;
    background-color: #fff;
    font-family: sans-serif;
    overflow: hidden;
}
body{
    margin: 0;
    display: flex;
    flex-flow: column;
}
main{
    height: 100%;
    display: flex;
}

/* Menu */
    .menu{
        background: #101c21;
        color: white;
        display: flex;
        align-items: center;
        border: 1.6px solid #87eafa;
        border-radius: 6px;
        position: fixed;
        z-index: 75;
        right: 41.5vw;
        top: 13vh;
        user-select: none;
        transition: 0.6s;
        box-shadow: deepskyblue 0px 0px 5px;
    }
    .menu-btn {
        background-color: #296985;
        border: none;
        cursor: pointer;
        display: inline-flex;
        padding: 5px;
        border-radius: 5px;
        z-index: 2;
        transition: 0.3s;
    }
    .menu-btn:hover {
        background-color: #40809d;
    }
    .menu-btn:active {
        background-color: #27647e;
    }
    .line {
        fill: none;
        stroke: white;
        stroke-width: 8;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
        stroke-dasharray: 60 207;
    }
    .line2 {
        stroke-dasharray: 60 60;
    }
    .line3 {
        stroke-dasharray: 60 207;
    }
    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
    }
    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
    }
    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
    }
    .menu-bar{
        height: 35px;
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 0;
        cursor: pointer;
        transition: 0.6s;
    }
    .menu-item{
        display: inline-block;
        padding: 5.5px;
        border-radius: 5px;
        transition: 0.3s;
        transition-timing-function: ease-out;
    }
    .menu-bar>span:nth-child(1) span{
        padding-left: 8px;
    }
    .menu-item:hover{
        background-color: #2c3b47;
        box-shadow: 0 0 9px 1px #a4e8ff;
    }
    .menu-item:active{
        background-color: #000;
    }
    #menu-run, #menu-run-only{
        display: flex;
        align-items: center;
        font-family: 'Titi';
        padding-right: 10px;
    }
    .no-user-menu{
        width: 100%;
        padding-right: 3px;
    }
    .opened-menu {
        width: 169.18px;
    }
    .opened-wide-menu {
        width: 203.5px;
    }

/* Neon Sliders */
    #sliders{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10000;
    }
    .slider{
        display: inline-block;
        transition: opacity 0.6s;
    }
    #nav-slider{
        width: 100%;
        height: 76.51px;
        top: 0;
        left: 0;
    }
    #toolbox-slider{
        height: 100%;
        width: 126px;
        top: -3.4px;
    }
    #code-slider{
        width: 40vw;
        height: 90vh;
        float:right;
        top: -3.4px;
    }

#blocklyDiv {
    background-image: url(../../images/Circuit-CB-Glowing-Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    height: 100%;
    width: 60vw;
    float: left;
    user-select: none;
}

/* Blockly Toolbox Style*/
    .blocklyToolboxDiv {
        border-right: 1px solid;
        width: 125.8px;
        padding: 0;
    }
    .blocklyTreeLabel {
        color: white;
    }
    .blocklyToolboxContents {
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
    .blocklyTreeRow {
        background-color: initial !important;
        padding: 3px !important;
        margin-bottom: 0;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .blocklyTreeIcon{
        display: none !important;
    }
    .blocklyTreeRow:not(.blocklyTreeSelected):hover{
        background-color: initial;
        transform: scale(1.2);
    }
    #blockly-0:hover{
        box-shadow: 0 0 15px 2px #f259a6;
    }
    #blockly-1:hover{
        box-shadow: 0 0 15px 2px #2cc28f;
    }
    #blockly-2:hover{
        box-shadow: 0 0 15px 2px #5598db;
    }
    #blockly-3:hover{
        box-shadow: 0 0 15px 2px #85E21F;
    }
    #blockly-4:hover{
        box-shadow: 0 0 15px 2px #FE9B13;
    }
    #blockly-0{
        box-shadow: 0 0 10px 0px #f259a6;
    }
    #blockly-1{
        box-shadow: 0 0 10px 0px #2cc28f;
    }
    #blockly-2{
        box-shadow: 0 0 10px 0px #5598db;
    }
    #blockly-3{
        box-shadow: 0 0 10px 0px #85E21F;
    }
    #blockly-4{
        box-shadow: 0 0 10px 0px #FE9B13;
    }
    .blocklyFlyout{
        z-index: 75;
    }
    .blocklyTooltipDiv {
        background-color: #000000cc;
        color: wheat;
        padding: 2px 4px;
        border-radius: 4px;
        box-shadow: 0 0 4px 0 wheat;
    }
    
/* Code Blocks */
    .blocklyPath{
        stroke-width: 2px;
        fill: #00000055;
        transition: stroke-width 0.3s;
    }
    .geras-renderer.codeblock-theme .blocklyEditableText:not(.editing)>rect{
        /* Dropdowns and Input fields of blocks */
        transition: stroke-width 0.3s;
    }
    .blocklyPathDark{
        fill: none;
    }
    .blocklyPathLight{
        stroke: none;
    }
    

aside{
    display: flex;
    flex-direction: column;
    height: 89vh;
    width: 40vw;
    position: relative;
}

#switch-language {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: black;
    background-size: 70%;
    background-position: 70% center;
    background-repeat: no-repeat;
    right: 0;
    top: 40%;
    border: 1.5px solid white;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    box-shadow: 0 0 8px white;
    transition: 0.5s;
    opacity: 0.7;
}

pre {
    height: 44.5vh;
    margin: 0;
    border: 1px solid white;
    flex-shrink: 0;
    border-right: 0;
    user-select: none;
}
pre>i{
    color: white;
    position: absolute;
    right: 15px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.15s;
}
#cpp-pre{
    border-top: 0;
}
#py-pre>i{
    background-color: transparent;
}
#cpp-pre>i{
    background-color: transparent;
}
#py-pre>i:hover{
    color: #011627;
    background-color: white;
}
#cpp-pre>i:hover{
    color: #151515;
    background-color: white;
}
pre>i:active{
    color: white !important;
    background-color: black !important;
}
.fa-check{
    background-color: rgb(0, 180, 0) !important;
    color: white !important;
}

code {
    width: inherit;
    resize: none;
    font-size: 16px;
    margin: 0;
    height: 100%;
    margin-top: -31px;
    user-select: text;
    box-sizing: border-box;
    overflow: overlay !important;
}
#python.hljs{
    background-image: url(../images/python-logo-tr.png);
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}
#cpp.hljs{
    background-image: url(../images/cpp-logo-tr.png);
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}


::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf4d;
}
::-webkit-scrollbar-thumb {
    background: #8f8f8f4d;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Nav Bar */
        #authed-user {
            border-radius: 0;
            box-shadow: none;
            padding: 0 1.5vw 0 3.5vw;
            width: 14vw;
            z-index: 80;
        }
    
        #authed-user::after {
            content: "▾";
            font-size: 30px;
            margin-left: 5px;
        }
    
        #authed-user>img {
            width: 7vw;
            height: 7vw;
            max-width: 45px;
            max-height: 45px;
        }
    
        #dname {
            display: none;
        }
    
        #user-dropdown {
            width: 18.9vw;
            font-size: 12px;
            top: 9vh;
        }
    
        #user-dropdown>div,
        #user-dropdown>a {
            padding: 8px 5px;
        }
    
        /* Main */
        main {
            display: block;
        }
    
        /* Blockly */
        #blocklyDiv {
            height: 45.5vh;
            width: 100%;
        }
    
        .blocklyToolboxDiv {
            width: 18.8vw;
            height: 99.9% !important;
            overflow-x: hidden;
            overflow-y: overlay;
            box-sizing: border-box;
            /* border-bottom: 1px solid; */
        }
    
        .blocklyTreeRow {
            width: 11vw;
            height: 11vw;
        }
    
        .blocklyTreeLabel {
            font-size: 2.5vw;
        }
    
        .blocklyToolboxContents {
            flex-wrap: nowrap;
            height: initial;
        }
    
        .blocklyToolboxCategory {
            margin: 10px 0;
        }

    /* Code */
        aside {
            flex-direction: row;
            width: 100%;
            border-top: 1px solid white;
            height: 45vh;
        }
        pre {
            width: 50%;
            height: 100%;
            border: 0;
            border-top: 1px solid;
            position: relative;
        }
        #py-pre {
            border-right: 1px solid white;
        }
        #cpp-pre {
            border-top: 1px solid;
        }
        pre>i {
            right: 10px;
            margin-top: 7px;
            font-size: 15px;
        }
        code {
            width: 100%;
            font-size: 14px;
        }
        #py-pre>i:hover {
            color: white;
            background-color: transparent;
        }

        #cpp-pre>i:hover {
            color: white;
            background-color: transparent;
        }
    /* Menu */
        .menu {
            right: 3.5vw;
            top: 11vh;
        }
        .menu-btn {
            padding: 2px;
        }
        .menu-bar {
            height: 29px;
        }
        .menu-item {
            font-size: 20px;
        }
        #menu-run {
            padding-left: 0;
            font-size: 16px;
        }

        .opened-menu {
            width: 150px;
        }
        .opened-wide-menu {
            width: 184.32px;         /* TODO: Test for example and set value */
        }

    ::-webkit-scrollbar{
        width: 5px;
        height: 5px;
    }
}

@media only screen and (max-width: 480px) {
    /* Nav Bar */
        #authed-user {
            border-radius: 0;
            box-shadow: none;
            padding: 0 1.5vw 0 4.5vw;
            width: 17vw;
            z-index: 80;
        }
        #authed-user::after {
            content: "▾";
            font-size: 30px;
            margin-left: 13px;
        }
        #authed-user > img {
            width: 7vw;
            height: 7vw;
        }
        #dname {
            display: none;
        }
        #user-dropdown {
            width: 23vw;
            font-size: 2.5vw;
            top: 8.3vh;
        }
        #user-dropdown>div, #user-dropdown>a {
            padding: 8px 5px;
        }

    /* Main */
        main {
            display: block;
        }

    /* Blockly */
        #blocklyDiv {
            height: 50%;
            width: 100%;
        }
        .blocklyToolboxDiv {
            width: 18.5vw;
            overflow-x: hidden;
            overflow-y: overlay;
        }
        .blocklyTreeRow {
            width: 11vw;
            height: 11vw;
        }
        .blocklyTreeLabel {
            font-size: 2.5vw;
        }
        .blocklyToolboxContents {
            flex-wrap: nowrap;
            height: initial;
        }
        .blocklyToolboxCategory {
            margin: 10px 0;
        }
    /* Code */
        aside {
            flex-direction: row;
            width: 100%;
            height: 50%;
        }
        pre {
            border: 0;
            border-top: 1px solid white !important;
            width: 100%;
            height: 100%;
        }
        #cpp-pre{
            display: none;
        }
        .show-pre{
            display: block !important;
        }
        .hide-pre{
            display: none !important;
        }
        code {
            font-size: 14px;
        }
        #py-pre>i:hover {
            color: white;
            background-color: transparent;
        }

        #cpp-pre>i:hover {
            color: white;
            background-color: transparent;
        }
    /* Menu */
        .menu {
            right: 3.5vw;
            top: 10vh;
        }
        .menu-btn {
            padding: 2px;
        }
        .menu-bar {
            height: 29px;
        }
        .menu-item {
            font-size: 20px;
        }
        #menu-run {
            padding-left: 0;
            font-size: 16px;
        }

        .opened-menu {
            width: 150px;
        }
        .opened-wide-menu {
            width: 184.32px;         /* TODO: Test for example and set value */
        }
    /* Switch Language */
        #switch-language {
            display: block;
        }
        .to-cpp {
            background-image: url(/codeblock/images/cpp.png);
        }
        .to-py {
            background-image: url(/codeblock/images/py.png);
        }
    
    ::-webkit-scrollbar{
        width: 5px;
        height: 5px;
    }
}

@font-face {
    font-family: Thunder;
    src: url('../Thunder.ttf');
    font-weight: bold;
}
