
html, body {
    height: 100%;
    background-color: #fff;
    font-family: sans-serif;
    overflow: hidden;
}

.blocklyToolboxDiv{
    background-color: #b7ceff;
}

.blocklyFlyoutBackground{
    fill: #d3e1ff;
}

#blocklyDiv {
    float: bottom;
    height: 90%;
    width: 100%;
}


body{
    margin: 0;
}
header{
    background: #1e1e1e;
    color: white;
    padding: 5px 25px;
}
header>h1{
    display: inline-block;
font-family: Thunder;
font-size: 50px;
margin: 15px 0 10px;
}
header>span>i{
    padding-right: 10px;
    font-size: 20px;
}
header>span{
    border: 3px solid white;
    background-color: white;
    color: black;
    float: right;
    position: relative;
    top: 20px;
    font-size: 25px;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
header>span:hover{
    color: white;
    background-color: black;
    box-shadow: 0 0 15px #ddd;
}
header>span:active{
    background-color: white;
    color: black;
}
#blocklyDiv{
    height: 87vh;
    width: 61vw;
    float: left;
user-select: none;
}
aside{
    display: inline;
    height: 87vh;
}
#toolbox{
    float: left;
    background: #8739e7;
    width: 15vw;
}
#toolbox>span{
    float: right;
    top: 45%;
    position: relative;
    background: #d9baff;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    user-select: none;
    font-family: monospace;
    color: #410092;
}
#code{
    float: right;
    width: 39vw;
    background: #ddd;
}
section{
    height: 49.4%;
}
textarea{
    width: 98%;
    resize: none;
    height: 100%;
    color: white;
    font-size: 16px;
}
pre {
    height: 49.2%;
    margin: 0;
    border: 1px solid white;
}
code {
    width: 100%;
    resize: none;
    height: 90%;
    font-size: 16px;
    margin: 0;
}
#python.hljs{
    background-image: url(python-logo-tr.png);
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}
#cpp.hljs{
    background-image: url(cpp-logo-tr.png);
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}
@font-face {
font-family: Thunder;
src: url('Thunder.ttf');
font-weight: bold;
}
