#modal{
    display: flex;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000066;
    color: white;
    user-select: none;
    font-family: titi;
    word-break: break-word;
}
#modal-content{
    width: 30%;
    margin: auto;
    background-color: #1f3943;
    padding: 20px;
    border: 2px solid skyblue;
    border-radius: 15px;
}
#modal-heading{
    text-transform: capitalize;
    margin-top: 2px;
}
#modal-close{
    color: #b2ebf2;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -10px;
}
#modal-msg a{
    color: #b2ebf2;
}
#modal-close:hover, #modal-msg a:hover{
    color:#00ACC1;
}
#modal-decision{
    display: flex;
    justify-content: end;
}
#modal-decision>button {
    padding: 8px 5px;
    margin: 0 5px;
    min-width: 20%;
    color: white;
    background-color: #3c7b90;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
    cursor: pointer;
}
#modal-decision>button:hover {
    background-color: #478fa7;
}
#modal-text-field{
    width: 100%;
    background-color: #355f70;
    outline: none;
    border: 1px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#modal-content:has(#modal-codeblocks){
    width: 50%;
}
#modal-codeblocks>div{
    height: 30vh;
    margin: 30px 10px;
    border-radius: 10px;
    background-color: #172a31;
    color: white;
    border: 1px solid lightskyblue;
    overflow: hidden;
}
#modal-codeblocks>div>span{
    padding: 8px;
    display: block;
    background-color: #286d8a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}
#modal-codeblocks .cb-folder{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    height: 82%;
    padding-left: 5px;
}
#modal-codeblocks .cb-file{
    display: inline-block;
    text-align: center;
    margin: 10px 3px;
    padding: 15px 15px 5px;
    height: 135px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    font-family: Titi;
}
#modal-codeblocks .cb-file:hover{
    background-color: #253a41;
}
#modal-codeblocks .cb-file:hover>.filename{
    text-shadow: 0px 0px 15px deepskyblue;
}
#modal-codeblocks .modal-selected-file{
    background-color: #304a54;
    position: relative; 
}
#modal-codeblocks .modal-selected-file:hover{
    background-color: #375764;
}
#modal-codeblocks .cb-file>img{
    margin: auto auto 10px;
    width: 80px;
    display: block;
}
#modal-codeblocks .filename{
    display: inline-block;
    width: 90px;
}

#modal-content #modal-decision {
    margin-right: 10px;
}


@media only screen and (max-width: 768px){
    #modal-content {
        width: 70%;
    }
    #modal-content:has(#modal-codeblocks) {
        width: 65%;
    }
    #modal-heading {
        font-size: 20px;
    }
    #modal-codeblocks>div>span {
        font-size: 14px;
    }
    #modal-codeblocks>div {
        font-size: 13px;
    }
    #modal-codeblocks .cb-folder {
        height: 83%;
        box-sizing: border-box;
        padding-bottom: 3%;
    }
    #modal-codeblocks .cb-file {
        height: 110px;
        padding: 15px 5px 5px;
        margin: 0 3px;
        margin-top: 10px;
    }
    #modal-codeblocks .cb-file>img {
        width: 70px;
    }
    #modal-decision>button {
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px){
    #modal-content{
        width: 50%;
    }
    #modal-decision {
        display: block;
    }
    #modal-decision>button {
        width: 25%;
        float: right;
    }
    #modal-content:has(#modal-codeblocks) {
        width: 80%;
    }
}


@font-face {
    font-family: Titi;
    src: url(../fonts/TitilliumWeb-Regular.ttf);
}