html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #296985;
    word-wrap: break-word;
}

main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #296985;
    font-family: EncodeSansLight;
    background-image: url(../images/Circuit-CB-Glowing-Logo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

#profile{
    background-color: white;
    background-color: #000000ad;
    color: white;
    border-right: 1px solid;
    text-align: center;    
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 20%;
}
#dp{
    margin: 10% auto 5%;
    width: 80%;
    padding-top: 80%;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}
#dp>img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
    /* margin: 5%; */
    /* aspect-ratio: 1; */
    /* object-fit: cover; */
    /* border: 1px solid; */
    border-radius: 50%;
    /* filter: invert(75%) sepia(7%) saturate(283%) hue-rotate(169deg) brightness(85%) contrast(84%); */
}
#dp>div {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    background: #0000005e;
    user-select: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
#dp:hover>div {
    opacity: 1;
    visibility: visible;
}
hr{
    margin: 0;
    border: 0;
    border-top: 1px solid;
}
#dp>div>div {
    margin: 5px;
    font-family: arvo;
    font-size: 15px;
    transition: 0.3s;
}
#dp>div>div:hover {
    transform: scale(1.1);
}
#dp span.material-symbols-outlined {
    position: relative;
    top: 20%;
}
#fullname{
    margin-top: 5%;
    font-family: 'EncodeSansBold';
    font-size: 25px;
}
#fullname:hover>.edit{
    display: inline-block;
}
#edit-fullname{
    display: none;
    width: 60%;
    border: none;
    background-color: #00000000;
    color: white;
    font-size: 25px;
    padding-right: 28px;
    margin-right: 28px;
    text-align: center;
    outline: none;
    font-family: 'EncodeSansBold';
    font-weight: bold;
}
.done-fullname,.close-fullname{
    display: none;
    border: 2px solid;
    border-radius: 3px;
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
.done-fullname{
    color: #25ae25;
    margin: 6px -53px;
}
.close-fullname{
    color: orangered;
    margin: 6px -23px;
}
#bio, #edit-bio{
    padding: 8%;
    font-size: 15px;
    font-style: italic;
    font-family: Titi;
}
#edit-bio{
    padding: 0;
    margin: 8%;
}
.edit{
    display: none;
    position: absolute;
    border: 1px solid;
    margin: 12px 7px;
    color: #becad6;
    font-size: 12px;
    cursor: pointer;
}
.edit:hover{
    color: white;
}
#bio:hover>.edit{
    display: inline-block;
    margin: 5px 10px 0;
}
#edit-bio{
    width: 90%;
    margin: auto;
    resize: none;
    display: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    color: white;
    text-align: center;
}
.done-bio{
    color: #25ae25;
}
.close-bio{
    color: orangered;
}
.done-bio, .close-bio {
    font-size: 20px;
    border: 2px solid;
    border-radius: 3px;
    display: none;
    margin: 10px 3px 0;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}

#logout{
    width: 50%;
    padding: 10px;
    margin: auto;
    background-color: #172a31;
    color: white;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
#logout:hover{
    background-color: #1c333b;
    box-shadow: 0 0 10px lightskyblue;
}
#logout:active{
    background-color: #2b4f5d;
    box-shadow: 0 0 10px white;
}

#codeblocks{
    /* background-color: #101c21; */
    width: 80%;
}
#codeblocks>div{
    height: 40vh;
    margin: 18px 20px;
    border-radius: 10px;
    background-color: #172a31;
    color: white;
    border: 1px solid lightskyblue;
    overflow: hidden;
}
#codeblocks>div>span{
    padding: 8px;
    display: block;
    background-color: #286d8a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    /* text-align: center; */
    text-transform: uppercase;
}
.cb-folder{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    height: 87.5%;
    padding-left: 5px;
}
.cb-file{
    display: inline-block;
    text-align: center;
    margin: 10px 3px;
    padding: 15px 15px 5px;
    height: 135px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    font-family: Titi;
}
.cb-file:hover{
    background-color: #253a41;
}
.cb-file:hover>.filename{
    text-shadow: 0px 0px 15px deepskyblue;
}
.selected-file{
    background-color: #304a54;
    position: relative; 
}
.selected-file:hover{
    background-color: #375764;
}
.cb-file>img{
    margin: auto auto 10px;
    width: 80px;
    display: block;
}
.filename{
    display: inline-block;
    width: 90px;
}
.file-options{
    display: none;
    opacity: 0;
    position: absolute;
    margin-left: 40px;
    background: #253a41;
    text-align: left;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    font-size: 13px;
}
.file-options:hover{
    text-shadow: 0px 0px 0;
}
.file-options>div{
    padding: 7px 15px 7px 7px;
}
.file-options>div:hover{
    background-color: #304a54;
}
.file-options .material-symbols-outlined{
    margin-right: 5px;
    font-size: 14px;
    position: absolute;
    margin-top: 4px;
}
.file-options>div>span:nth-child(2) {
    margin-left: 20px;
    font-size: 14px;
}
.open-opt{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid lightskyblue;
}
.delete-opt{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.selected-file:hover>.file-options{
    display: block;
    animation: show-file 0s ease-in 0.5s forwards;
}

::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a4d;
}
::-webkit-scrollbar-thumb {
    background: #0000004d;
}
::-webkit-scrollbar {
    width: 10px;
}


@media only screen and (min-width: 481px) and (max-width: 768px){
    main>#profile{
        width: calc(25% + 15px);
    }
    #dp{
        margin: 20% auto 5%;

    }
    #fullname{
        margin-top: 8%;
        font-size: 3.5vw;
    }
    #edit-fullname{
        font-size: 3.5vw;
        padding-right: 3.2vw;
        margin-right: 3.2vw;
    }
    .done-fullname, .close-fullname{
        font-size: 15px;
    }
    .done-fullname {
        margin: 1.2vw calc(-5vw - 5px);
    }
    .close-fullname {
        margin: 1.2vw -2vw;
    }
    .edit{
        font-size: 1.8vw;
        margin: 1.5vw 7px;
    }
    #bio,#edit-bio{
        font-size: 2vw;
    }
    #bio{
        padding: 12%;
    }
    #bio:hover>.edit{
        margin: 4px 5px 0;
        font-size: 1.6vw;
    }
    #logout{
        font-size: 2vw;
    }
    .cb-folder{
        justify-content: space-between;
        height: 87%;
    }
    #codeblocks>div{
        overflow: hidden;
    }
    .cb-file{
        cursor: default;
        height: 50%;
        padding: 15px 0 10px;
    }
    .cb-file>img{
        width: 60px;
    }
    #codeblocks>div>span{
        font-size: 2vw;
    }
    .selected-file,.selected-file:hover{
        background-color: #375764;
    }
    .filename{
        font-size: 2vw;
    }
    .file-options{
        left: 1.5vw;
        margin: 0;
        width: 75%;
    }
    .file-options>div>span:nth-child(2) {
        font-size: 13px;
    }

    .selected-file>.file-options{
        display: block;
        animation: show-file 0s ease-in 0.5s forwards;
    }
}

@media only screen and (max-width: 480px){
    body{
        background-image: url(../images/Circuit-CB-Glowing-Logo.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 180vh;
        background-position-x: 44%;
        background-position-y: bottom;
        transition: background-image 1s;
        
    }
    nav{
        position: sticky;
        z-index: 3;
        top: 0;
    }
    main{
        flex-flow: column;
        align-items: center;
        height: initial;
        background: none;
    }
    main>#profile{
        width: 90%;
        margin-top: 5%;
        border-radius: 20px;
    }
    #dp{
        padding-top: 50%;
        cursor: default;
    }
    #dp>img{
        width: 60%;
        height: 100%;
        margin: 0 auto;
    }
    #dp>div{
        width: 60%;
        margin: auto;
    }
    #dp>div>div{
        font-size: 3vw;
    }
    #dp span.material-symbols-outlined {
        font-size: 5vw;
    }
    #fullname{
        margin-top: 2%;
        font-size: 22px;
    }
    #bio, #edit-bio {
        padding: 5%;
        font-size: 13px;
    }
    .edit{
        font-size: 11px;
    }
    #logout{
        margin: 5% auto 7%;
        width: 35%;
    }

    #codeblocks{
        width: 100%;
        height: 100%;
    }
    #codeblocks>div{
        height: 195px;
    }
    #codeblocks>div>span{
        font-size: 13px;
    }
    .cb-folder{
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;
        height: 163px;
    }
    .cb-file{
        cursor: default;
        margin: 15px 0;
        height: 100px;
        padding: 10px 5px 20px;
    }
    .cb-file:hover{
        background-color: transparent;
    }
    .cb-file>img{
        width: 65px;
    }
    .selected-file,.selected-file:hover{
        background-color: #375764;
    }
    .filename{
        font-size: 14px;
    }
    .file-options{
        top: 10vh;
        left: 10vw;
    }
    .file-options>div>span:nth-child(2) {
        font-size: 13px;
    }

    .selected-file>.file-options{
        display: block;
        animation: show-file 0s ease-in 0.5s forwards;
    }
}


@keyframes show-file {
    to {
        opacity:1;
    }
}


@font-face {
    font-family: EncodeSansBold;
    src: url(../fonts/EncodeSansSemiExpanded-Bold.ttf);
}
@font-face {
    font-family: EncodeSansLight;
    src: url(../fonts/EncodeSansSemiExpanded-Light.ttf);
}
@font-face {
    font-family: arvo;
    src: url(../fonts/Arvo-Regular.ttf);
}
@font-face {
    font-family: Titi;
    src: url(../fonts/TitilliumWeb-Regular.ttf);
}