html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #296985;
    /* background-image: url(../images/Circuit-CB-Glowing-Logo-Cropped.png); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    /* background-position: top; */
}

#bg{
    background-image: url(../images/Circuit-CB-Glowing-Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 90%;
    height: 100%;
}

#blocking, #m-blocking{
    font-family: EncodeSansLight;
    position: absolute;
    top: 80%;
    right: 40vw;
    color: #00000000;
    background: #00000088;
    padding: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    height: auto;
    transform: scaleX(1.6) skewX(21deg) skewY(-30deg);
    transition: 0.5s;
}
#blocking:hover, #m-blocking{
    color:white;
    background-color: #101c21;
    box-shadow: 0 0 20px 2px #23e6ff;
}
#blocking span, #m-blocking span{
    text-shadow: 0 0 5px #23e6ff;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    nav{
        height: 15vh;
    }
    #title{
        margin-left: -7px;
    }
    #cb-logo{
        width: 7vw;
    }
    #cb-title{
        font-size: 2.5vw;
    }
    #title-study{
        font-size: 1.6vw;
    }
    #tagline{
        font-size: 1.3vw;
    }
    span:has(#authenticate){
        height: 100%;
    }
    #authenticate{
        font-size: 1.8vw;
        width: 15vw;
        height: 100%;
        padding-top: 5vh;
    }
    #bg{
        background-position-y: bottom;
        background-size: 160%;
    }
    #blocking{
        font-size: 12px;
        padding: 17px;
        right: 30%;
    }
    @media only screen and (max-width: 606px){
        #bg{
            background-size: 200%;
        }
        #blocking{
            top: 82%;
            right: 25%;
        }
    }
}

.for-mobiles{
    display: none;
}

@media only screen and (max-width: 480px){
    #bg{
        padding: 5%;
        background-position: 44% center;
    }
    nav,#blocking{
        display: none;
    }
    nav.for-mobiles{
        width: auto;
        padding: 0 5vw;
        display: flex;
        height: 100%;
        flex-flow: column;
        justify-content: space-evenly;
        border: 0;
        background-color: #101c21a6;
        border-radius: 17px;
    }
    nav.for-mobiles>span:has(#tagline){
        display: initial;
    }
    #cb-logo{
        width: 15vw;
        margin: 0;
    }
    #cb-title{
        font-size: 8vw;
    }
    #title-study, #tagline{
        font-size: 4vw;
    }
    span:has(#tagline){
        position: relative;
    }
    #tagline{
        margin-bottom: 50px;
    }
    nav>span:nth-child(3){
        align-self: auto;
    }
    #authenticate{
        padding: 4vh 0;
        border-bottom: 1px solid;
        width: 55vw;
        border-radius: 10px;
        background: black;
        box-shadow: 0 0 15px #e6d488;
        height: initial;
        font-weight: normal;
        margin-top: 50px;
    }

    .for-mobiles>span:nth-child(3):has(img){
        padding: 15px 0 8px;
        /* align-self: stretch; */
        background-color: #0000006b;
        border-radius: 10px;
        border: 1px solid;
        width: 55vw;
        border: 1px solid;
        box-shadow: 0 0 15px #e6d488;
        /* cursor: pointer; */
        font-family: 'EncodeSansLight';
    }
    .for-mobiles>span:nth-child(3)>img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        display: block;
        border-radius: 50%;
        margin: auto;
        border: 1px solid;
    }
    .for-mobiles #dname{
        font-weight: bold;
        margin: 10px;
        display: inline-block;
        font-size: 20px;
    }
    .for-mobiles #user-dropdown{
        width: 80px;
        border-radius: 5px;
        top: 55vh;
        right: 9vw;
        background-color: #000000ba;
        transition: 0.1s;
    }
    .for-mobiles>span:nth-child(3):has(img):hover #user-dropdown{
        visibility: visible;
        opacity: 1;
    }

    .for-mobiles:has(#dname) #m-blocking{
        margin: 10px;
    }
    #m-blocking{
        position: initial;
        transform: none;
        width: 55vw;
        padding: 4vh 0;
    }
    #m-blocking, #authenticate{
        transition: none;
        font-size: 4vw;
    }

}

@font-face {
    font-family: EncodeSansBold;
    src: url(../fonts/EncodeSansSemiExpanded-Bold.ttf);
}
@font-face {
    font-family: EncodeSansLight;
    src: url(../fonts/EncodeSansSemiExpanded-Light.ttf);
}